.container {
    text-align: justify;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;
color:aliceblue;
}

.grid{
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 200px 100px;
    grid-template-areas: "a a" "b c" "d d";
}
